<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JAJ"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".TrainingRecord"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ViewTraining"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".SelectCourse"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".BookTraining"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".myprofile"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".UserReader"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyAlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>